.vscode
node_modules
tsconfig.json
webpack.config.js
esbuild.js
.history
cr3
grec0ai_vscode.vsix
grec0ai-vscode-3.0.0.vsix
.git
.github
out/**
src/**
**/test/**
**/scripts/**
**/*.map
**/*.ts
**/tsconfig.json
**/webpack.config.js
**/.gitignore